# some long, hard-to-guess string for encoding JSON web tokens
NEXTAUTH_SECRET=""

# another long, hard-to-guess string for encoding revalidation requests
REVALIDATION_SECRET="aa650b949aaa1f334a1541fa1c8b332b793552837b707967b872c15e6376ced6"

DB_PATH="./db"